{{#if error}}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
  {{/if}}


  {{#if warning}}
  <div class="alert alert-warning" role="alert">
    {{message}}
  </div>
  {{/if}}
    {{#if success}}
  <div class="alert alert-success" role="alert">
    {{message}}
  </div>
  {{/if}}

<div align="center" class="fadeIn first">
            <img src="https://picsum.photos/800/800"
                id="icon" alt="User Icon" />
</div>