<section class="vh-100" style="margin-bottom: -20%;">
  {{#if error}}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
  {{/if}}


  {{#if warning}}
  <div class="alert alert-warning" role="alert">
    {{message}}
  </div>
  {{/if}}
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100 mt-5">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
        <form action="/auth/register" method="post">
          
          <!-- name input -->
          <div class="form-outline mb-4">
            <input type="text" id="name" name="name" class="form-control form-control-lg"
              placeholder="Enter name " />
            <label class="form-label" for="name">Name</label>
          </div>

          <!-- name input -->
          <div class="form-outline mb-4">
            <input type="text" id="surname" name="surname" class="form-control form-control-lg"
              placeholder="Enter surname " />
            <label class="form-label" for="surname">Name</label>
          </div>
          
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
            <label class="form-label" for="email">Email address</label>
          </div>

          <div class="form-outline mb-4">
            <label for="role">Choose the role:</label>
            <select id="role" name="role"  class="form-control form-control-lg"> 
              <option value="cliente">Cliente</option>
              <option value="lavoratore">Lavoratore</option>
              <option value="produttore">Produttore</option>
            </select> 
          </div>

          <div class="form-outline mb-4">
            <label for="type">Choose the type (Only if you ar not a costumer):</label>
            <select id="type" name="type"  class="form-control form-control-lg"> 
              <option value=""></option>
              <option value="Tipologia1">Tipologia1</option>
              <option value="Tipologia2">Tipologia2</option>
              <option value="Tipologia3">Tipologia3</option>
            </select> 
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="password" name="password" class="form-control form-control-lg"
              placeholder="Enter password" />
            <label class="form-label" for="password">Password</label>
          </div>
          
          <!-- Password input confirm -->
          <div class="form-outline mb-3">
            <input type="password" id="confpassword" name="confpassword" class="form-control form-control-lg"
              placeholder="Confirm password" />
            <label class="form-label" for="confpassword">Confirm Password</label>
          </div>
          <!--
          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox 
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>
          -->

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Sei già registrato? <a href="/login"
                class="link-danger">Login</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  
</section>